.container {
    width: 100%;
}

.content {
    display: flex;
    margin-top: 50px;
}

.add_content {
    width: 50%;
}

.add_form {
    display: flex;
    flex-direction: column;
}

.add_name {
    margin-bottom: 20px;
    padding: 20px;
    color: gray;
    outline: none;
    border: 1px solid lightgray;
    width: 100%;
}

.add_message {
    color: gray;
    outline: none;
    padding: 20px;
    border: 1px solid lightgray;
    width: 100%;
    margin-bottom: 20px;
}

.comments_content {
    margin-left: 20px;
}

.comments_list {
    list-style: none !important;
    padding-left: 0;
}