.container {
    display: flex;
    justify-content: center;
}

.add_content {
    width: 30%;
}

.add_form {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
}

.field_label {
    margin-bottom: 10px;
}

.add_name {
    margin-bottom: 20px;
    padding: 20px;
    color: lightgray;
    outline: none;
    border: 1px solid lightgray;
    width: 100%;
}

.add_message {
    color: lightgray;
    outline: none;
    padding: 20px;
    border: 1px solid lightgray;
    width: 100%;
    margin-bottom: 20px;
}

.add_button {
    background-color: darkcyan;
    color: white;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.comments_content {
    margin-left: 100px;
}

.comments_list {
    list-style-type: none;
    padding-left: 0;
}